* {
  box-sizing: border-box;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul li {
  margin: 0;
  padding: 0;
}
.dashboardContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: -webkit-radial-gradient(#082a52, #03072d);
  background: -o-radial-gradient(#082a52, #03072d);
  background: -moz-radial-gradient(#082a52, #03072d);
  background: radial-gradient(#082a52, #03072d);
}
.dashboardContainer .bg-earch {
  position: fixed;
  top: 90px;
  bottom: 50px;
  left: 90px;
  right: 90px;
  background: url(../img/bg-earth.png) center center no-repeat;
  opacity: 0.17;
  background-size: contain;
}
.dashboardContainer .main {
  height: 100%;
}
.dashboardContainer .main .contentLeft {
  position: relative;
  width: 54.6875%;
  height: 100%;
  float: left;
}
.dashboardContainer .main .contentLeft .header {
  margin-top: 40px;
  width: 45.71428571%;
  height: auto;
}
.dashboardContainer .main .contentLeft .counterContainer {
  position: absolute;
  top: 52.77777778%;
  left: 70px;
  z-index: 1;
}
.dashboardContainer .main .contentLeft .counterContainer .title {
  font-size: 28px;
  color: #fff;
}
.dashboardContainer .main .contentLeft .counterContainer ul.numberGroup {
  margin-top: 10px;
  display: inline-block;
}
.dashboardContainer .main .contentLeft .counterContainer ul.numberGroup li {
  display: inline-block;
  width: 46px;
  height: 74px;
  background: rgba(0, 70, 178, 0.3);
  line-height: 74px;
  text-align: center;
  font-size: 56px;
  color: #1cd5fd;
}
.dashboardContainer
  .main
  .contentLeft
  .counterContainer
  ul.numberGroup
  li
  + li {
  margin-left: 4px;
}
.dashboardContainer .main .contentLeft .counterContainer ul.numberGroup + span {
  font-size: 24px;
  color: #c3ced9;
  margin-left: 15px;
}
.dashboardContainer .main .contentLeft .mapContainer {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  height: 62.96296296%;
  transform: translateX(10%);
}
.dashboardContainer .main .contentLeft .chartContainer {
  position: absolute;
  bottom: 50px;
  left: 70px;
  right: 0;
  height: 25.92592593%;
}
.dashboardContainer
  .main
  .contentLeft
  .chartContainer
  .kpiContainer
  .content.list
  li {
  position: relative;
}
.dashboardContainer
  .main
  .contentLeft
  .chartContainer
  .kpiContainer
  .content.list
  li
  span {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  display: block;
  text-align: center;
  font-size: 20px;
  color: #d7dde4;
  line-height: 1;
  letter-spacing: 0;
}
.dashboardContainer
  .main
  .contentLeft
  .chartContainer
  .kpiContainer
  .content.list
  li
  .kpiChartContent {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 40px;
}
.dashboardContainer .main .contentLeft .chartContainer #kpiGroup2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 90px;
  color: #ffd247;
  letter-spacing: 0;
}
.dashboardContainer .main .contentRight {
  overflow: hidden;
  height: 100%;
  padding: 40px 50px 50px 80px;
  display: flex;
  flex-direction: column;
}
.dashboardContainer .main .contentRight .top {
  height: 160px;
  flex-grow: 1;
  flex-shrink: 1;
}
.dashboardContainer .main .contentRight .top .left {
  float: left;
  height: 100%;
  width: 41.79104478%;
}
.dashboardContainer .main .contentRight .top .left #kpiTopLeft + ul {
  position: relative;
  top: 16.5%;
  left: 7%;
  height: 100%;
}
.dashboardContainer .main .contentRight .top .left #kpiTopLeft + ul li {
  height: 12.7%;
  position: relative;
}
.dashboardContainer .main .contentRight .top .left #kpiTopLeft + ul li:after {
  content: attr(content);
  position: absolute;
  display: inline-block;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  color: #031939;
  font-size: 14px;
  background: #1cd5fd;
}
.dashboardContainer .main .contentRight .top .right {
  height: 100%;
  overflow: hidden;
  padding-left: 30px;
}
.dashboardContainer .main .contentRight .middle {
  margin-top: 25px;
  height: 170px;
  flex-grow: 1;
  flex-shrink: 1;
}
.dashboardContainer .main .contentRight .bottom {
  margin-top: 25px;
  height: 165px;
  flex-grow: 1;
  flex-shrink: 1;
}
.dashboardContainer .kpiBlock {
  height: 100%;
  position: relative;
}
.dashboardContainer .kpiBlock .title {
  font-size: 20px;
  color: #fff;
  height: 28px;
  padding-left: 24px;
  padding-top: 3px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAAXNSR0IArs4c6QAAAcBJREFUSA2dlT1PAkEQhuddiFBZSqNGCCaGaCeNFhrs7fyVVv4AUAttsJME4wensRFLCoXI3bh7ush9zHHrNnuzM/fM3Luze6CMsXbHx+wHZxkhERcIAxVZiRnMwVFsKdNkcDsTCIYTEKQ6kFJWB1z5+gzeJH/aeqmkKmKF0wm10l6S1gDcPtXxLgLJUT8ibptkMpDgWKHqiMD1e64xc1X6vMQ64C8V6VIEBlM3/TSo+7iJkQgEufUffvUTgcxu+in1o18qcLXPO3rHVowzz9DtMkaJrm1sYpcVu+nHRFfPVYxFoN5dp+OmgLD/UoEnzAUCHVhnnlkFFPafjY18crdPTV3hsnUumrV+o2aDbubjIkDfUT9iujjVTS0Cmdz00xdqRD8DnlW44XEZoL35bIueGVH9THzRvhR80L6usGztRbOubvjaQC8eN6uQVdCKOzNtcGR3bewf0PG6Z1IJ/Qw0BNYfwlbZtVnyzAWV1G8GnPh0SKapcw7df97LFry08LBCDtz0m7+u4tAQqHfM6fxK+hm4Mr9Lfdy245my7GKZziW/+sfvsufVMBSBYDf9dPOntotNoO9TN/0U0vvPAr8BPF+JGbvFw+gAAAAASUVORK5CYII=)
    no-repeat;
  background-size: auto 100%;
  line-height: 1;
}
.dashboardContainer .kpiBlock .kpiContainer {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: calc(100% - 18px);
  background: rgba(3, 21, 61, 0.5);
  border: none;
  border-left: 1px solid #17a5ff;
  border-top: 1px solid #17a5ff;
  border-bottom: 1px solid #17a5ff;
}
.dashboardContainer .kpiBlock .kpiContainer:before {
  content: '';
  position: absolute;
  left: 100%;
  top: 0;
  width: 18px;
  height: 18px;
  background: -webkit-linear-gradient(
    left bottom,
    rgba(3, 21, 61, 0.5) 0,
    rgba(3, 21, 61, 0.5) 49%,
    #17a5ff 49%,
    #17a5ff 52%,
    rgba(255, 0, 0, 0) 52%,
    rgba(255, 0, 0, 0)
  );
  background: -o-linear-gradient(
    top right,
    rgba(3, 21, 61, 0.5) 0,
    rgba(3, 21, 61, 0.5) 49%,
    #17a5ff 49%,
    #17a5ff 52%,
    rgba(255, 0, 0, 0) 52%,
    rgba(255, 0, 0, 0)
  );
  background: -moz-linear-gradient(
    top right,
    rgba(3, 21, 61, 0.5) 0,
    rgba(3, 21, 61, 0.5) 49%,
    #17a5ff 49%,
    #17a5ff 52%,
    rgba(255, 0, 0, 0) 52%,
    rgba(255, 0, 0, 0)
  );
  background: linear-gradient(
    to top right,
    rgba(3, 21, 61, 0.5) 0,
    rgba(3, 21, 61, 0.5) 49%,
    #17a5ff 49%,
    #17a5ff 52%,
    rgba(255, 0, 0, 0) 52%,
    rgba(255, 0, 0, 0)
  );
}
.dashboardContainer .kpiBlock .kpiContainer:after {
  content: '';
  position: absolute;
  left: calc(100% - 1px);
  top: 18px;
  bottom: -1px;
  width: 18px;
  border: none;
  border-right: 1px solid #17a5ff;
  border-bottom: 1px solid #17a5ff;
  background: rgba(3, 21, 61, 0.5);
}
.dashboardContainer .kpiBlock .kpiContainer .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: -18px;
}
.dashboardContainer .kpiBlock .kpiContainer .content.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.dashboardContainer .kpiBlock .kpiContainer .content.list li {
  margin: 0;
  padding: 0;
  height: 100%;
  flex: auto;
}
