/*
 * (c) Copyright 2009-2016 SAP SE. All rights reserved
 */


/* button放大 */

.butStorageBinSelection {
    height: 10rem !important;
}

.butStorageBinSelection div.sapMBtnInner {
    height: 10rem;
}

.butStorageBinSelection span.sapMBtnContent {
    line-height: 10rem;
    vertical-align: middle;
    font-size: 1.5rem
}


/* 预留，保持在foot上恒有一行 */

.infoAboveFooter {
    position: fixed;
    width: 100%;
    bottom: 3em;
}


/* footer放大 button放大 */

.footerBar {
    height: 5rem !important;
}

.footerBar div.sapMBarRight {
    height: 5rem !important;
}

.footerButton {
    height: 1.5rem !important;
}

.footerButton div.sapMBtnInner {
    height: 4rem;
}

.footerButton span.sapMBtnContent {
    line-height: 4rem;
    vertical-align: middle;
    font-size: 1.0rem
}

#pdfContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

#ydpdfContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

#dhpdfContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

#trpdfContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

#tfpdfContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

#businessContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 3px);
}

#content {
    padding-left: 100px;
    /* overrides the padding of demokit */
}


/*#idCamera{*/


/*	width: height;*/


/*	height :80%;*/


/*	padding-left: 0px;*/


/*	position: absolute;*/


/*	left: 0;*/


/*    top: 0;*/


/*}*/
.sapUiHLayoutChildWrapper {
    white-space: normal;
    display: inline-block;
    vertical-align: middle;
}

.Image1 {
    position: absolute;
    width: height;
    height: calc(100% - 3px);
    margin-left: 15%;
}

.Image2 {
    width: 100%;
    height: 100%
}